.logoheader {
    text-align:center;
    margin-top: 25px;
}

.logo {
    height: 100px;
    width:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgba(184, 154, 154, 0.65);
    border-radius: 50px;
  }

  .menu {
    text-align: center;
    margin-top: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .photo {
    text-align:center;
    margin-top: 25px;
  }
  

  .photomain {
    height: auto;
    width:80%;
  }

  h1 {
      margin-top: 5%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      font-size: 60px;
      font-weight:normal;
      
  }

  p {
    margin-top: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 24px;
  }